.container {
    height: 100vh;
    width: 101%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 5fr);
}

/*article containers and text*/
.articles {
    background-color: #c4c5ba;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(3, 6fr);
   justify-items: center; /*this is centering the announcents stuff too*/
    align-items: center; 
    position: relative;
}

.Ann {
    grid-column-start: 1;
    grid-row-start: 1;
   position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.8em;
    font-weight: 800;
    top: 20px;
    right: 50px

}

#box {
    border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr) repeat(1, 9fr);
        grid-template-rows: repeat(1, 3fr) repeat(1, 1fr);
        gap: 2rem 1rem;
        position: relative;
        box-shadow: .1em .1em .1em black;
        transition: all .2s ease-in-out;
      }


#box:hover {
    transform: 2em 2em 2em;
    transform: scale(1.1); 

}

.sq1 {
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: white;
    width: 80%;
    height: 80%;
    display: grid;
}

.fancy {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  background: white;
  background: linear-gradient(#9e826f, #fabc7b, #ecb477);
  border-radius: 20px 0 0 20px;
  width: 65%;
  height: 99%;
}

.int {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 20px;
    gap: 20px
}

.soc {
    width: 25px;
}

.text {
    grid-column-start: 2;
    grid-row-start: 1;
}

.sq2 {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: white;
    width: 80%;
    height: 80%;
}

.sq3 {
    grid-column-start: 1;
    grid-row-start: 3;
    background-color: white;
    width: 80%;
    height: 80%;
}

.sq4 {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: white;
    width: 80%;
    height: 80%;
}

.sq5 {
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: white;
    width: 80%;
    height: 80%;
}

.sq6 {
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: white;
    width: 80%;
    height: 80%;
}

.socials {
    position: relative;
    top: -50px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(1, 1fr);
   gap: 30px;
   margin-left: -10px
}

header {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;

}

/*current problem with this setup is that these boxes will not adjust with the screen size unlesss I adjust the overall gridlayout...I think ...someone else made it adapt to a mobile screen once it got too big for its briches*/
.head {
    grid-column-start: 1;
    grid-row-start: 1;
   position: relative;
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    top: 50px
}

.ann {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 190px;
    height: 190px; 
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    box-shadow: .1em .1em .1em black;
    border-radius: 20px;
    padding: 10px;
    margin-left: -10px;
    position: relative;
    top: 40px;
    align-items: center;
}

.Trending {
    grid-column-start: 1;
    grid-row-start: 3;
    position: relative;
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    top: 40px
    
}

.trend {
    grid-column-start: 1;
    grid-row-start: 3;
    box-shadow: .1em .1em .1em black;
    border-radius: 20px;
    position: relative;
    top: 70px

}

.trend{ 
    grid-row-start: 3;
    grid-row-end: 5;
    width: 200px;
    height: 300px; 
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 5px;
}

.watson {
    grid-row-start: 1;
display: flex;
height: 70px;
position: relative;
left: 5px;
top: 5px
}

.baker {
    grid-row-start: 2;
    display: flex;
    height: 70px;
    position: relative;
left: 5px;
top: 5px
}

.lestrade {
    grid-row-start: 3;
    display: flex;
    height: 70px;
    position: relative;
left: 5px;
top: 5px
}

.pup {
    grid-row-start: 4;
    display: flex;
    height: 70px;
    position: relative;
left: 5px;
top: 5px
}

.pup1 {
    width: 40px;
    height: 40px
}

.baker1 {
    width: 40px;
    height: 40px
}

.lestrade1 {
    width: 40px;
    height: 40px}

.watson1 {
    width: 40px;
    height: 40px}

    p { margin:0 }

 .Announcement-border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
  }

.news {
    position: inherit;
    grid-row-start: 1;
    color: black;
    border: solid .1em;
    border-left: white;
    border-right: white;
    border-top: black;
   
}

.news1 {
    grid-row-start: 2;
    color: black;
    border-radius: 20px;
}

.news2 {
    grid-row-start: 3;
    color: black;
    border: solid .1em;
    border-bottom: black;
    border-left: white;
    border-right: white;
}


/*sidebar stuff*/
.sidebar {
    background-color: #233451;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template-rows: repeat(1, 1fr) repeat(1, 3fr) repeat(1, 1fr);
   box-shadow:  .2em .2em .2em black;
   align-items: center;
}

.wrap1 {
    appearance: none;
    text-decoration: none;
    color: white;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
   position: relative;
   top: -60px;
   left: 10px
}

#dash {
    width: 4em;
}

.dish {
    width: 4em
}

.dash {
    appearance: none;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

.home { 
    appearance: none;
    text-decoration: none;
    color: white;
}

.house {
    width: 3em;
    height: 3em;
    
}

.wrap {
    appearance: none;
    text-decoration: none;
    grid-row-start: 2;
    font-family: 'Courier New', Courier, monospace;
    gap: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    top: -250px;
    align-items: center;
}

#home1 {
    font-size: 1.2rem;
}

.menu {
    appearance: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
   text-align: left;
}

.wrap2 {
    appearance: none;
    text-decoration: none;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    top: -100px;
    align-items: center;
}

.set {
    appearance: none;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 1.2rem;

}

.search {
    background-color: #9e826f    ;
    grid-column-start: 2;
    grid-row-start: 1;
    box-shadow: .1em .1em .1em black;
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.bar {
    grid-column-start: 1;
    grid-row-start: 1;
border-radius: 20px;
height: 30%;
width: 90%;
position: relative;
left: 70px;
top: 10px
}

.mag {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 35px;
    position: relative;
    left: 25px;
    top: 10px;
}

.profile {
    grid-column-start: 3;
    grid-row-start: 1;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    right: 35px;
    top: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(30px, .5fr));
}

.persona {
    text-decoration: none;
    color: black;
    display: flex;
    min-width: 20px;
    max-width: 1fr;
    position: relative;
    top: 10px
   }

#noti {
    width: 2em;
    height: auto;
    position: relative;
    top: 5px;
    right: -10px;
}

.alert {
    display: none;
    height: 200px;
    position: fixed;
    z-index: 10;
}

#noti:hover + .alert {
    display: block;
    background-color: #394d65;
    border-radius: 10px;
    position: fixed;
    z-index: 10;
    top: 50px;
    display: flex;
    align-items: center;
    border: solid .5em;
    border-color: #233451;
    padding: 10px
}

.bigprofile {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    display: flex;
    left: 20px;
    bottom: 10px;
}

.welcome {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 10px;
    left: 15px
}

.user {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 500;
}

.btnwrap {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, .3fr));

    position: relative;
    bottom: -30px;
}

.btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #ecb477;
    height: 50px;
  width: 100px;
  border-radius: 25px;
    position: relative;
    left: 50px
    }

    .btn:hover{
    color:#000000;
    background-color:#fabc7b
    ;
    }

    @media all and (max-width:30em){
    .btn {
    display:flex;
    margin:0.4em auto;
    }
    }


.small {
    width: 50px;
}

.big{ 
    width: 80px;
}


/*style for all-purpose page*/
.background {
    background-image: url("../images/construction.png");
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
  background-position: center;
}

.all {
    display: flex;
    width: 100px;
    background-color: grey;
    border: solid black;
    border-radius: 30px;
    padding: 30px;

}